* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    width: 100vw;
    min-width: 100%;
    overflow: hidden;
    background: url(./bg_image.jpg) no-repeat fixed center;
}

.navbar {
    border: 1px solid #000;
    height: 100vh;
    width: fit-content;
    background-color: #DC8F13;
    position: absolute;
    left: -190px;
    transition: left 0.5s ease;
    z-index: 1;
}

.header {
    background-color: #935F0C;
    height: 35px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h1 {
    color: #fff;
    font-size: 1.2rem;
    padding: 0 4rem;
    text-align: center;
}

.arrow-parent {
    width: fit-content;
    height: 100%;
    cursor: pointer;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    border: 5px solid black;
    border-left: #935F0C;
    border-bottom: #935F0C;
    border-radius: 20%;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    transition: transform 0.5s ease;
    pointer-events: auto;
}

.menü-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10% 20%;
    font-size: large;
}

.navbar:hover {
    left: 0;
}

.navbar:hover .arrow {
    transform: rotate(-135deg);
}

li:hover {
    background-color: #935F0C;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
